main {
    color:#38322e;
    font-family: arial;
  }
  
  body {
    background-color: rgb(30, 29, 30);
    margin: 0px;
    font-family:arial;
  }
  
  
  .topnav {
    background-color: #444444;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .topnav a {
    font-size: 20px;
    text-decoration: none;
    font-family: arial;
    color: #a09ba2;
    padding: 30px;
    float: left;
    text-align: center;
    transition:0.5s;
  }
  
  .topnav a:hover {
    background-color: #cec0d3;
    color: #5c515d;
  }
  
  div.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  
  
  img.pfp {
    width:270px;
    height:270px;
    border-radius:50%;
    object-fit: cover;
    margin: 55px;
  }
  
  div.description {
    margin: 55px;
    width: 500px;
  }
  
  
  
  .sectionTitleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    width: 500px;
    margin: auto;
    transition: background-color 1.8s ease; 
    border-radius: 30px;;
  }
  
  .target-color {
    background-color: #323132;
  }
  
  .default-color {
    background-color: rgb(30, 29, 30);
   
  }
  
  h3.about{
    text-align: center;
    color: #f6e1ff;
  }
  
  
  h1{
    font-size: 55px;
    color:#c74fff;
  }
  
  h3{
  
    font-size: 25px;
    color:#e6a1ff;
  }

#root{
    padding-top: 400px;
}

.sectionDiv{
    padding-top:300px;
}

#about {
    scroll-margin-top: 80px; /* Adjust this value based on the height of your fixed navigation bar */
}